@import "./colors.css"; 
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "ShureTechMono Nerd Font Mono 14";
    font-size: 13px;
    font-weight: 500;
    border: none;
    box-shadow: none;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background: @light-red;
    color: @dark-red;
}

#workspaces button.active {
    background: @dark-red;
}

#workspaces button.active label {
    color: @light-red;
}

#workspaces button:hover {
    background: @dark-red;
}

#workspaces button:hover label {
    color: @light-red;
    text-shadow: none;
}

#clock, 
#battery, 
#cpu, 
#memory, 
#network, 
#pulseaudio,
#wireplumber,
#tray,
#mpris, 
#custom-power {
  padding: 0 12px;
  margin: 0 4px;
  border-radius: 10px;
  background: @light-red;
  color: @dark-red;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#pulseaudio-slider:hover,
#wireplumber:hover,
#tray:hover,
#mpris:hover,
#custom-next:hover,
#custom-pause:hover,
#custom-previous:hover,
#custom-power:hover {
  opacity: 0.8;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    color: @light-green;
    background-color: @light-red;
}

#battery.critical:not(.charging) {
    background-color: @dark-red;
    color: @light-red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio {
  color: @dark-red;
  background: @light-red;
  padding: 0 12px;
  margin: 0 4px;

  border-radius: 10px;
  min-height: 30px;
}

#pulseaudio.sink-muted {
  color: @light-red;
  background: @dark-red;
}

#pulseaudio.microphone {
  color: @dark-red;
  background: @light-red;
  margin-left: 0px;
}

#pulseaudio.microphone.source-muted {
  color: @light-red;
  background: @dark-red;
}

#pulseaudio-slider {
  background: @light-red;
  padding: 0 12px;
  margin: 0 4px;
  border-radius: 10px;
  min-height: 30px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  background: transparent;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 100px;
  border-radius: 4px;
  background-color: @light-red;
}
#pulseaudio-slider highlight {
  min-width: 8px;
  min-height: 8px;
  border-radius: 4px;
  background: @dark-red;
}

#mpris {
  color: @dark-red;
  padding: 0 12px;
  margin: 0 4px;
  border-radius: 10px;
  min-height: 30px;
  background-color: @light-red;
}

#custom-next,
#custom-pause,
#custom-previous {
  background: transparent;
  color: @light-red;
  padding: 0;
  font-size: 26px;
  text-shadow: none;
  box-shadow: none;
}

#custom-previous {
  margin: 0px 6px 0px 4px;
}

#custom-pause {
  margin: 0px 8px;
}

#custom-next {
    margin-left: 8px;
}

#mpris.playing {
  color: @light-green;
}

#mpris.paused {
  color: @dark-red;
}

#mpris.stopped {
  color: @dark-red;
}

menu {
    background-color: @bg;
    border: 2px solid @light-red;
    border-radius: 10px;
    padding: 5px;
}

menu label {
    color: @cyan-blue;
    font-family: "ShureTechMono Nerd Font Mono";
    font-size: 14px;
    text-shadow: none;
}

menuitem:hover {
    background-color: #7C2627;
    background-image: none;
    border-radius: 5px;
}

